<%- include("partials/header.ejs") %>
<body>
    <%- include("partials/nav.ejs") %>
    <h1> Home </h1>

    <h2>My Favorite Comics</h2>
    <form action="/comic/new" class="list-item">
        <button class="btn btn-outline-primary">Add Comic</button>
    </form><br>

    <% for (site of comicSites) { %>
        <a class="siteTitle"><h3><%=site.comicSiteName%></h3></a>
        <a href="<%=site.comicSiteUrl%>"><%=site.comicSiteUrl%></a><br><br>
        <p></p>
    <% } %>

    <img id="randomComicImg" src="" alt="">
    <h4 id="randomComicName"></h4>
    <button id="randomComic" class="btn btn-outline-primary">Display Random Comic</button>
    <p></p><p></p>

    
    <table border="1" width="600" cellpadding="10px">
        <tbody>
          <tr>
            <th>#</th>
            <th>Task Description</th>
            <th>Points</th>
          </tr>
          <tr style="color:green">
            <td>1</td>
            <td>The <strong>Home</strong> page lists all comic names and clickable links to their  corresponding websites from the "fe_comics_site" table. <br></td>
            <td width="20" align="center">30</td>
          </tr>
          <tr style="color:green">
            <td>2</td>
            <td>The <strong>Home</strong> page displays a random comic strip retrieved from the "fe_comics" table, with its corresponding comic name <br></td>
            <td width="20" align="center">25</td>
          </tr>
          <tr style="color:green">
            <td>3</td>
            <td>The <strong>Home</strong> page includes a "Display Random Comic" button to display a  random comic and its name without reloading the page (using a Web API)<br></td>
            <td width="20" align="center">30</td>
          </tr>
          <tr style="color:green">
            <td>4</td>
            <td>The <strong>Add Comic</strong> page allows user to add a new comic to the database. The values for the 'Web Site' dropdown menu come from database.<br></td>
            <td width="20" align="center">30</td>
          </tr>
          <tr style="color:red">
            <td>5</td>
            <td>The <strong>Comic</strong> page lists all comic strips from the 'fe_comics' table for the Comic Name clicked on from the Home page. It should also include the comic title <br></td>
            <td width="20" align="center">30</td>
          </tr>
          <tr style="color:red">
            <td>6</td>
            <td>The <strong>Comic</strong> page displays   "View Comments" links below each comic strip. Use a Modal Window and a Web API to display all comments for each comic. <br>
            </td>
            <td width="20" align="center">30</td>
          </tr>
          <tr style="color:red">
            <td>7</td>
            <td>The <strong>Add Comment</strong> page displays the comic strip to add comments to, along with its title.<br></td>
            <td width="20" align="center">20</td>
          </tr>
          <tr style="color:red">
            <td>8</td>
            <td>The <strong>Add Comment</strong> page allows users to add a comment to the comic strip selected.<br></td>
            <td width="20" align="center">20</td>
          </tr>
          <tr style="color:green">
            <td>9</td>
            <td>Your submission has a nice style using Bootstrap or CSS in an external file with at least 10 properties.</td>
            <td width="20" align="center">10</td>
          </tr>
          <tr style="color:green">
            <td>10</td>
            <td>This rubric is properly included and updated.</td>
            <td width="20" align="center">2</td>
          </tr>
          
          <tr>
            <td></td>
            <td>TOTAL </td>
            <td width="20" align="center">127</td>
          </tr>
        </tbody>
      </table>


    <%- include("partials/footer.ejs") %>
    </body>
</html>